      p{
        font-size:30px;
        color:rgb(198, 50, 50);
      }
      .para-blue{
        color:rgb(14, 14, 181);
      }
      h1 {

  background-color: green;
}

div {
  background-color: lightblue;
}

p {
  background-color: yellow;
}

body{
   background-color: lightcoral;
}

p{
  font-size: 20px;
  
}